/config/packages/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/

/config/packages/phpcr.yml
/jackrabbit/
/jackrabbit-standalone-*.jar
/vagrant/.vagrant

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
